@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: url("image.jpg");
    background-position: center;
    background-size: cover;
}

header {
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

header .navbar {
    display: flex;
    float:right;
    /*align-items: center*/;
    margin: 0 auto;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
   /* border-radius: 10px;*/
}

.navbar.logo {
    color: #fff;
    font-size: 2.0rem;
    font-weight: 600;
}

.navbar .logo span {
    color: #C06B3E;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999; 
}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
    font-size: 1.5rem;
}


.navbar a:hover {
    color: #C06B3E;
}

.navbar .menu-links {
    display: flex;
    gap: 40px;
    list-style: none;
}


.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .content {
    color: #fff;
    max-width: 600px;
    width: 80%;
    text-align: center;
}
.hero-section .content h1 {
    font-size: 3rem;
    max-width: 600px;
    line-height: 1.5;
}

.hero-section .content p {
    font-weight: 300;
    font-size: 1.2rem;
    margin-top: 15px;
    max-width: 1000px;
}

.hero-section .content button {
    background: #C06B3E;
    outline: none;
    border: none;
    font-size: 1.3rem;
    padding: 12px 30px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
}

.hero-section .content button:hover {
    background: #fff;
    color: #C06B3E;
}

#menu-btn {
    color: #fff;
    cursor: pointer;
}

#close-btn {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.product-section {
    display: flex;
    flex-wrap: wrap; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 30px; 
    background-color: #000;
}

.product-card {
    width: calc(25% - 20px); 
    margin-bottom: 20px; 
    text-align: center;
    background-color: #fff; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

.product-card:hover {
    transform: translateY(-5px); 
}

.product-card img {
    width: 100%; 
    border-radius: 10px;
}

.product-card h2 {
    margin-top: 10px; /* Adds some space between image and title */
}

.product-card p {
    margin-top: 5px; /* Adds some space between title and description */
    align-content: center;
}

.product-card button {
    margin-top: 10px; 
    background-color: #C06B3E; 
    color: #fff; 
    border: none; 
    padding: 10px 20px;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.product-card button:hover {
    background-color: #fff; /* Change button background color on hover */
    color: #C06B3E; /* Change button text color on hover */
    justify-content: center;/* Centers items horizontally */
    gap: 30px; /* Adds some space between product cards */
    background-color: #000;
}

.product-card {
    width: calc(25% - 20px);
    margin-bottom: 20px; 
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

.product-card:hover {
    transform: translateY(-10px); 
}

.product-card img {
    width: 300px;
    height: 300px;
    object-fit:cover;
    border-radius: 10px;
}

.product-card h2 {
    margin-top: 10px; 
}

.product-card p {
    margin-top: 5px;
}

.product-card button {
    margin-top: 10px; 
    background-color: #C06B3E; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px;    
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.product-card button:hover {
    background-color: #fff; 
    color: #C06B3E; 
}


@media screen and (max-width: 900px) {
    header {
        padding: 10px 20px;
    }

    header.show-mobile-menu::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }

    #close-btn,
    #menu-btn {
        display: block;
    }

    .navbar .menu-links {
        position: fixed;
        left: -260px;
        top: 0;
        flex-direction: column;
        width: 260px;
        height: 100vh;
        background: #fff;
        padding: 70px 40px 0;
        transition: left 0.15s ease;
    }

    header.show-mobile-menu .navbar .menu-links {
        left: 0;
    }

    .navbar a {
        color: #000;
    }

    .hero-section .content {
        text-align: center;
    }

    .hero-section .content :is(h1, p) {
        max-width: 100%;
    }

    .hero-section .content h1 {
        font-size: 2.3rem;
        line-height: 1.5;
    }

    .hero-section .content button {
        padding: 9px 18px;
    }
}
